In [2]:
pip install category_encoders

Requirement already satisfied: category_encoders in /opt/anaconda3/lib/python3.8/site-packages (2.2.2)
Requirement already satisfied: scipy>=1.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.5.2)
Requirement already satisfied: pandas>=0.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.1.3)
Requirement already satisfied: patsy>=0.5.1 in /opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.14.0 in /opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.19.2)
Requirement already satisfied: statsmodels>=0.9.0 in /opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.12.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.23.2)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.21.1->category_encoders) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (0.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import category_encoders as ce
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [5]:
data=pd.read_csv('/Users/jakirice/Desktop/golf-dataset.csv')
data

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

In [6]:
data.head()

    Outlook  Temp Humidity  Windy Play Golf
0     Rainy   Hot     High  False        No
1     Rainy   Hot     High   True        No
2  Overcast   Hot     High  False       Yes
3     Sunny  Mild     High  False       Yes
4     Sunny  Cool   Normal  False       Yes

In [7]:
X = data.drop(['Play Golf'], axis=1)
y = data['Play Golf']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state =0)

In [10]:
X_train.shape, X_test.shape

((9, 4), (5, 4))

In [11]:
X_train.dtypes

Outlook     object
Temp        object
Humidity    object
Windy         bool
dtype: object

In [12]:
categorical = [col for col in X_train.columns if X_train[col].dtypes == 'O']
categorical

['Outlook', 'Temp', 'Humidity']

In [13]:
numerical = [col for col in X_train.columns if X_train[col].dtypes != 'O']
numerical

['Windy']

In [14]:
categorical

['Outlook', 'Temp', 'Humidity']

In [15]:
X_train[categorical].head()

   Outlook  Temp Humidity
13   Sunny  Mild     High
9    Sunny  Mild   Normal
1    Rainy   Hot     High
7    Rainy  Mild     High
10   Rainy  Mild   Normal

In [16]:
encoder = ce.OneHotEncoder(cols=['Outlook', 'Temp', 'Humidity'])
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

/opt/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [17]:
X_train.head()

,Outlook_1,Outlook_2,Outlook_3,Temp_1,Temp_2,Temp_3,Humidity_1,Humidity_2,Windy
13,1,0,0,1,0,0,1,0,True
9,1,0,0,1,0,0,0,1,False
1,0,1,0,0,1,0,1,0,True
7,0,1,0,1,0,0,1,0,False
10,0,1,0,1,0,0,0,1,True