In [1]:
import pandas as pd

confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
recovery = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"

df = pd.read_csv(confirmed)
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,55646,55664,55680,55696,55707,55714,55733,55759,55770,55775
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,102306,103327,104313,105229,106215,107167,107931,108823,109674,110521
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,112279,112461,112622,112805,112960,113092,113255,113430,113593,113761
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,10739,10775,10799,10822,10849,10866,10889,10908,10948,10976
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,20584,20640,20695,20759,20782,20807,20854,20882,20923,20981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,2403,2412,2421,2426,2432,2448,2448,2475,2482,2488
270,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,176377,177768,179293,180848,181909,183612,185336,187309,189326,191203
271,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2187,2221,2255,2267,2269,2285,2310,2342,2363,2375
272,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,75582,76484,77171,77639,78202,78534,79002,79557,80090,80687
273,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,35910,35960,35994,36044,36058,36089,36115,36148,36179,36223

In [3]:
ph = df.loc[df["Country/Region"] == "Philippines"]
ph

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21
208,NaN,Philippines,12.879721,121.774017,0,0,0,0,0,0,...,564865,566420,568680,571327,574247,576352,578381,580442,582223,584667

In [56]:
def percent(a, b) : 
  
    result = float(((b - a) * 100) / a) 

    return result

In [5]:
ph

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21
208,NaN,Philippines,12.879721,121.774017,0,0,0,0,0,0,...,564865,566420,568680,571327,574247,576352,578381,580442,582223,584667

In [14]:
ph.drop(ph.iloc[:, 2:3], inplace = True, axis = 1) 
ph

    Province/State        Long
208            NaN  121.774017

In [15]:
df = pd.read_csv(confirmed)
ph = df.loc[df["Country/Region"] == "Philippines"]
ph

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
208,NaN,Philippines,12.879721,121.774017,0,0,0,0,0,0,...,566420,568680,571327,574247,576352,578381,580442,582223,584667,587704

In [46]:
ph.iloc[:,-1]

208    587704
Name: 3/5/21, dtype: int64

In [55]:
s = int(ph.iloc[:,-1])
b = int(ph.iloc[:,-2])
print(percent(s,b),"%")

0 %

In [57]:
s = int(ph.iloc[:,-1])
b = int(ph.iloc[:,-2])
print(percent(s,b),"%")

-0.5167567346827655 %

In [58]:
ph

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
208,NaN,Philippines,12.879721,121.774017,0,0,0,0,0,0,...,566420,568680,571327,574247,576352,578381,580442,582223,584667,587704

In [59]:
ph["new"] = 5
ph["old"] = 10

In [60]:
ph

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21,new,old
208,NaN,Philippines,12.879721,121.774017,0,0,0,0,0,0,...,571327,574247,576352,578381,580442,582223,584667,587704,5,10

In [61]:
s = int(ph.iloc[:,-1])
b = int(ph.iloc[:,-2])
print(percent(s,b),"%")

-50.0 %