In [1]:
import pandas as pd

confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
recovery = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"

df = pd.read_csv(confirmed)
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,55664,55680,55696,55707,55714,55733,55759,55770,55775,55827
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,103327,104313,105229,106215,107167,107931,108823,109674,110521,111301
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,112461,112622,112805,112960,113092,113255,113430,113593,113761,113948
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,10775,10799,10822,10849,10866,10889,10908,10948,10976,10998
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,20640,20695,20759,20782,20807,20854,20882,20923,20981,21026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,2412,2421,2426,2432,2448,2448,2475,2482,2488,2494
270,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,177768,179293,180848,181909,183612,185336,187309,189326,191203,193029
271,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2221,2255,2267,2269,2285,2310,2342,2363,2375,2411
272,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,76484,77171,77639,78202,78534,79002,79557,80090,80687,81341
273,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,35960,35994,36044,36058,36089,36115,36148,36179,36223,36248

In [2]:
ph = df.loc[df["Country/Region"] == "Philippines"]
ph

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
208,NaN,Philippines,12.879721,121.774017,0,0,0,0,0,0,...,566420,568680,571327,574247,576352,578381,580442,582223,584667,587704

In [3]:
def percent(a, b) : 
  
    result = float(((b - a) * 100) / a) 

    return result

In [4]:
ph

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
208,NaN,Philippines,12.879721,121.774017,0,0,0,0,0,0,...,566420,568680,571327,574247,576352,578381,580442,582223,584667,587704

In [5]:
ph.drop(ph.iloc[:, 2:3], inplace = True, axis = 1) 
ph

,Province/State,Country/Region,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
208,NaN,Philippines,121.774017,0,0,0,0,0,0,0,...,566420,568680,571327,574247,576352,578381,580442,582223,584667,587704

In [6]:
df = pd.read_csv(confirmed)
ph = df.loc[df["Country/Region"] == "Philippines"]
ph

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
208,NaN,Philippines,12.879721,121.774017,0,0,0,0,0,0,...,566420,568680,571327,574247,576352,578381,580442,582223,584667,587704

In [7]:
ph.iloc[:,-1]

208    587704
Name: 3/5/21, dtype: int64

In [8]:
s = int(ph.iloc[:,-1])
b = int(ph.iloc[:,-2])
print(percent(s,b),"%")

-0.5167567346827655 %

In [9]:
s = int(ph.iloc[:,-1])
b = int(ph.iloc[:,-2])
print(percent(s,b),"%")

-0.5167567346827655 %

In [10]:
ph

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
208,NaN,Philippines,12.879721,121.774017,0,0,0,0,0,0,...,566420,568680,571327,574247,576352,578381,580442,582223,584667,587704

In [11]:
ph["new"] = 5
ph["old"] = 10

In [12]:
ph

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21,new,old
208,NaN,Philippines,12.879721,121.774017,0,0,0,0,0,0,...,571327,574247,576352,578381,580442,582223,584667,587704,5,10

In [13]:
s = int(ph.iloc[:,-1])
b = int(ph.iloc[:,-2])
print(percent(s,b),"%")

-50.0 %

In [14]:
dfdeaths = pd.read_csv(deaths)
dfdeaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,2436,2438,2442,2443,2443,2444,2446,2446,2446,2449
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1715,1736,1756,1775,1796,1816,1835,1856,1876,1897
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,2970,2973,2977,2979,2983,2987,2991,2996,3002,3007
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,110,110,110,110,110,110,110,112,112,112
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,501,502,504,506,508,508,510,510,511,511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,35,35,35,35,35,35,35,35,35,35
270,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,1999,2008,2019,2025,2042,2058,2063,2078,2091,2110
271,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,624,625,627,631,634,634,640,643,645,648
272,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,1051,1059,1066,1081,1091,1098,1104,1108,1109,1113
273,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,1456,1458,1463,1463,1463,1468,1472,1478,1483,1484

In [15]:
dfRecovered = pd.read_csv(recovery)
dfRecovered

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,49086,49281,49285,49288,49333,49344,49347,49359,49362,49362
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,66309,67158,68007,68969,69773,70413,71173,72076,72853,73610
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,77537,77683,77842,77976,78098,78234,78377,78524,78672,78824
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,10319,10356,10394,10429,10446,10475,10501,10560,10564,10584
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,19221,19238,19307,19315,19322,19400,19410,19509,19553,19624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,1804,1804,1839,1844,1876,1876,1898,1898,1920,1920
255,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,163795,164557,165205,166119,166936,167744,168763,169915,171318,172588
256,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1433,1434,1434,1435,1435,1435,1435,1435,1435,1439
257,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,69803,70800,72635,73609,74498,75087,75563,76299,76498,77081
258,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,32410,32455,32539,32590,32666,32905,32989,33392,33632,33759

In [16]:
dfRecovered = dfRecovered.loc[dfRecovered["Country/Region"] == "Philippines"]
dfRecovered

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21,3/2/21,3/3/21,3/4/21,3/5/21
193,NaN,Philippines,12.879721,121.774017,0,0,0,0,0,0,...,523321,524042,524582,524865,534271,534351,534463,534778,535037,535207

In [17]:
n1 = dfRecovered.iloc[:,-1]

193    535207
Name: 3/5/21, dtype: int64

In [18]:
n2 = dfRecovered.iloc[:,-2]

193    535037
Name: 3/4/21, dtype: int64

In [19]:
n1 = dfRecovered.iloc[:,-1]
n2 = dfRecovered.iloc[:,-2]
print(n1 + n2)

193    1070244
dtype: int64

In [20]:
def percent(a, b) : 
  
    result = float(((b - a) * 100) / a) 
  
    return result

In [21]:
print(percent(n1,n2))

-0.03176341116614693

In [25]:
def getDifference(df) :
    
    index1 = 1
    index2 = 20
    df = df.loc[df["Country/Region"] == "Philippines"]
    n2 = int(df.iloc[:,-index1])
    n1 = int(df.iloc[:,-index2])
    ans = str(float("{:.2f}".format(percent(n1,n2)))) 

    if "-" in ans:
        res = "Decreased by {} %, from the data gathered 30 days ago".format(ans)
        return res
    else:
        res = "Increased by {}%, from the data gathered 30 days ago".format(ans)
        return res


def percent(a, b) : 
  
    result = float(((b - a) * 100) / a) 
  
    return result

In [26]:
print(getDifference(dfRecovered))

Increased by 4.59%, from the data gathered 30 days ago